:root {
  --rounded-low: 16px;
  --rounded-high: 20px;
  --primary-1: #742bec;
  --primary-2: #9c58ce;
  --text-color: #fff;
  --dark: #040b19;
  --light: #fff;
  --secondary-1: #040b19;
  --secondary-2: #0d1422;
  --gray-1: #1d2130;
  --gray-2: rgba(255, 255, 255, 0.2);
  --transition-time: 0.35s;
  --transition-timing-function: cubic-bezier(0.25, 0.56, 0.37, 0.71);
  --transition: var(--transition-time) var(--transition-timing-function);
  --fs-1: 1.1rem;
  --fs-2: 1.2rem;
  --fs-3: 1.3rem;
  --fs-4: 1.5rem;
  --fs-5: 1.75rem;
  --fs-6: 2rem;
}

/***** A *****/
.align-center {
  display: flex;
  align-items: center;
}
/***** End A *****/

/***** C *****/
.cursor-pointer {
  cursor: pointer;
}
/***** End C *****/

/***** F *****/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.fs-1 {
  font-size: var(--fs-1);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-5 {
  font-size: var(--fs-5);
}
.fs-6 {
  font-size: var(--fs-6);
}
/***** End F *****/

/***** J *****/
.justify-center {
  display: flex;
  justify-content: center;
}
/***** End J *****/

/***** P *****/
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/***** End P *****/

/***** R *****/
.rounded-inner {
  border-radius: var(--rounded-low);
}
.rounded-outer {
  border-radius: var(--rounded-high);
}
/***** End R *****/

/***** T *****/
.text-center {
  text-align: center;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-color-primary {
  color: var(--text-color);
}
.text-color-secondary {
  color: var(--secondary-1);
}
.transition {
  transition: var(--transition);
}
/***** End T *****/
